<section class="container-max-width pt-5 bg-dark s">
  <h1>i am mr.ilia</h1>
  <h2>it's my local buisnes</h2>

  <img
    src="https://static.startuptalky.com/2022/02/Tips-to-Become-Successful-Businessman-StartupTalky.jpg"
    alt="imige"
  />
  <p></p>
  <div>
    <p>Enjoy the website and comment</p>
  </div>
</section>

<section
  class="container-max-width b d-flex justify-content-center align-items-center"
><div class=" t">
  <h1>
    IloShop - პირველი ჰიპერმარკეტების ქსელია საქართველოში. გთავაზობთ კომფორტულ
    გარემოს, პროდუქტის ფართო არჩევანსა და ხარისხის მუდმივ კონტროლს. გამოირჩევა
    საკუთარი წარმოების უგემრიელესი მზა კერძებით, ხორცპროდუქტითა და საკონდიტრო
    ნაწარმით. ,,IloShop’’ საკვები და არასაკვები პროდუქტის ერთ-ერთი უმსხვილესი
    იმპორტიორია გერმანიიდან, ჰოლანდიიდან, იტალიიდან, საფრანგეთიდან, ბულგარეთიდან
    და უკრაინიდან. ჰყავს 300-ზე მეტი კორპორატიული კლიენტი. ასევე, გთავაზობთ
    უმაღლესი ხარისხის ქეითერინგისა და სადღესასწაულო მომსახურებას.
  </h1>
  </div>
</section>
